<?xml version="1.0" encoding="ISO-8859-1"?>
<EmpirumPackage UUID="{__UUID__}" CatalogID="{__UUID__}" Name="__VENDOR__ __PRODUCT__ Kiosk __VERSION__" Type="SwPackage" Version="1.1">
  <VersionInformation Version="__VERSION__" Revision="0"/>
  <TargetPath>__VENDOR__\__PRODUCT__ Kiosk\__VERSION__</TargetPath>
  <Description>__VENDOR__ __PRODUCT__ Kiosk __VERSION__ - Edge Assigned-Access-Kiosk fuer Digital Signage</Description>
  <DatabaseSettings>
    <Software>
      <SoftwareID>{__UUID__}</SoftwareID>
      <Type>App</Type>
      <SubType></SubType>
      <Name>__VENDOR__ __PRODUCT__ Kiosk __VERSION__</Name>
      <Version>__VERSION__</Version>
      <Revision>0</Revision>
      <TargetPath>__VENDOR__\__PRODUCT__ Kiosk\__VERSION__</TargetPath>
      <Description>__VENDOR__ __PRODUCT__ Kiosk __VERSION__</Description>
      <DocuFileName></DocuFileName>
      <InfoFile></InfoFile>
      <Icon></Icon>
      <VersionFile></VersionFile>
      <CheckFile>%Packages%\__VENDOR__\__PRODUCT__ Kiosk\__VERSION__\Install\Setup.inf</CheckFile>
      <Script>%Packages%\__VENDOR__\__PRODUCT__ Kiosk\__VERSION__\Install\Setup.inf</Script>
      <Directory>%Packages%\__VENDOR__\__PRODUCT__ Kiosk\__VERSION__\</Directory>
      <Tested></Tested>
      <InfoDep></InfoDep>
      <InfoCmdLine>/S2</InfoCmdLine>
      <Dependencies></Dependencies>
      <Requirements></Requirements>
      <CmdLine>"%Setup%" %SetupParms% "%Script%" /S2</CmdLine>
      <CheckReg></CheckReg>
      <ProductKey>$Matrix42Packages$\__VENDOR__\__PRODUCT__ Kiosk</ProductKey>
      <MachineKeyName>$Matrix42Packages$\__VENDOR__\__PRODUCT__ Kiosk\__VERSION__</MachineKeyName>
      <ProductFile></ProductFile>
      <InventoryID>{__UUID__}</InventoryID>
      <Author>__AUTHOR__</Author>
      <CreationDate>22.07.2026</CreationDate>
      <Method>Script</Method>
      <LastChange>22.07.2026</LastChange>
      <Build>0</Build>
      <PackageEditorPath></PackageEditorPath>
      <ADGroup></ADGroup>
      <Category>General</Category>
      <OSSystems>2147483647</OSSystems>
      <OSList>Win10, Win11</OSList>
      <OSCapabilities>x64</OSCapabilities>
      <SEQUENCE></SEQUENCE>
      <ExternalSetup>false</ExternalSetup>
      <CallAsynchronous>false</CallAsynchronous>
      <Distribution>false</Distribution>
      <AllowUninstallation>true</AllowUninstallation>
      <Discontinue>false</Discontinue>
      <bInstallReady>true</bInstallReady>
      <Duration>1</Duration>
      <Licences>-1</Licences>
      <ProcessorSpeed>-1</ProcessorSpeed>
      <Licences>-1</Licences>
      <DiskFreeApplication>-1</DiskFreeApplication>
      <DiskFreeSystem>-1</DiskFreeSystem>
      <RAM>-1</RAM>
      <MinBandwidth>0</MinBandwidth>
      <InstallContext>0</InstallContext>
      <TokenId></TokenId>
      <TokenTtl>0</TokenTtl>
      <RegisterName>Paket Import</RegisterName>
      <RegisterText>Paket Import</RegisterText>
      <RegisterOSList>Win10, Win11</RegisterOSList>
      <RegisterOSCapabilities>x64, x86</RegisterOSCapabilities>
    </Software>
    <SwDependencies/>
    <SWAUTFiles/>
    <SWSequences/>
    <PackageVariables/>
  </DatabaseSettings>
</EmpirumPackage>
